@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  font-size: 10px;
}

.app {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  font-family: "Oleo Script", system-ui;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.form {
  display: grid;
  margin: 40px;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background: white;
  margin-bottom: 1rem;
  height: 40px;
}

.button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 250ms;
  height: 40px;
  align-items: center;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.card-list {
  column-count: 3;
  margin: 20px 50px;
}

.card {
  margin-bottom: 1rem;
  display: flex;
}

.card-image {
  flex: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.01);
}

.card-image>img {
  border-radius: 5px;
  object-fit: cover;
}

@media (min-width:760px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width:600px) {
  .card-list {
    column-count: -1;
  }
}